html * {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body{
    display: flexbox;
    flex-direction: column;
    background-color: rgb(32, 194, 140);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subContainer, 
.black,
.white{
    margin: 2px;
    width: 300px;
    height: auto;
    font-size: 34px;
    border-radius: 30px;
    border-style: inset;
    border: 2px;
    border-color: rgb(55, 112, 94);
}

.black{
    color:azure;
    background-color: rgb(27, 27, 27);
    border-color: rgb(55, 112, 94);
}

.white{
    color:black;
    background-color: rgb(243, 242, 242);
    border-color: rgb(55, 112, 94);
}

.fontSize{
    font-size: 20px;
}

.countingbuttonContainer, .countingButtons{
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Nova Round';
    font-size: 18px;
}

.countingButtons{
    width: auto;
    height: 100%;
    background-color: rgb(50, 235, 235);
    border-color: black;
    border-radius: 30px;
    border: 2px;
    border-style: solid;
}